@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);


html {
    --black: #130F0D;
    --white: #F0F0F9;
    --blue: #1C4966; 
    --gray: #808080; 
    
    
    --bg: #F0F0F9;
    --btn: #FC2E20;
    --btn-hover: #E43D40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, button, input {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;

    background-color:  var(--bg);
    color: var(--black);

    display: flex;
    flex-direction: column;
}

main {
    margin: auto;

    width: 90vw;
}

.toggle {
    margin: 30px;
}

button {
    width: 100%;
    
    color: var(--white);

    border: none;
    border-radius: 2px;
    background: var(--btn);

    text-transform: uppercase;
    font-size: 2.4rem;

    padding: 1.6rem;

    outline: none;

    transition: 0.2s;
}


button:hover {
    background: var(--btn-hover);
}

.image {
    height: 80vh;
    position: relative;
}

.image.hover::after,
.image.fav::after {
    content: ' \2605';
    color: var(--btn);

    position: absolute;
    top: 0;
    left: 8px;

    font-size: 3.2rem;
}

.image.fav:hover::after {
    content: ' \2606';
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: var(--gray);
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: var(--white);
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--blue);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active::after {
    width: 45px;
}
